{% extends "index.html" %}


{% block content %}
    <div id="container">
            <div id="todoscontainer">
            </div>

        <script>
                $(document).ready(function() {
                    // webix.ready(function(){
                        webix.ui({
                            rows: [
                                {
                                    view: "toolbar", height: 45, elements:[
                                        {view: "label", label: "<span style='font-size: 18px;'>Webix Todo Manager</span>"},
                                        { view:"button", value:"Add row", width:175, click:function(){
                                            console.log("I'm CALLED");
                                            var elsCount = $$("todostable").data.count()+1;
                                            var id = $$("todostable").add({id:elsCount, title:"default value", done:false});
                                            $$("todostable").editCell(id, "title");
                                        }},
                                        { view:"button", value:"Delete row", width:175, click:function(){
                                             $$("todostable").remove( $$("todostable").getSelectedId(true) );
                                        }},
                                    ]
                                },
                                {
                                    view:'datatable',
                                    id:'todostable',
                                    columns:[
                                        {id:"id", header:"ID", adjust:true},
                                        {id:"title", header:["Title", {content:"textFilter"}], fillspace:true, editor:"text"},
                                        {id:"done", header:["Done?", {content:"textFilter"}], adjust:true, editor:"checkbox"},
                                    ],
        
                                    select:"row",
                                    multiselect:"true",
                                    url: '/todos',
                                    save: '/dispatchtodos',
                                    editable:true,
                                    pager: {
                                        size:20,
                                    },
                                    autoupdate:true,
                                },
                            ]
                        })
                    // })
                
                });
                
            </script>

</div>
{% endblock %}